.button {
  display: inline-block;
  background-color: $border-color;
  color: $primary-text-color;
  font: 700 21px/26px "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  box-sizing: border-box;
  border: none;

  &--icon {
    width: 48px;
    height: 48px;
    padding: 0;
    position: relative;
  }
}

.button__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
