/* Навигация */
.main-header {
  display: flex;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
}

/* Логотив в навигации */
.main-header__logo {
  margin-left: 47px;
  position: relative;
  width: 185px;
}

/* Картинка логотипа в навигации */
.main-header__logo-image {
  position: absolute;
}
