.recommendations {
  padding: 1px 18px 22px;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  font: $text-font;
  color: $text-color;
  text-align: left;
}

.recommendations__item {
  margin: 30px 0;
}

.recommendations__title {
  margin: 0 0 16px;
}

.recommendations__text {
  margin: 16px 0 0;
}
