.social__title {
  margin: 0 0 34px;
}

.social__list {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.social__item {
  display: inline-block;
}

.social__link {
  vertical-align: top;
}
