@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
}
