
// Цвета для текста

$text-color: #333333;
$title-color: #000000;
$primary-text-color: #FFFFFF;

// Цвета для фона

$primary-background-color: #81B3D2;
$field-background-color: #F2F2F2;
$field-hover-background-color: #E5E5E5;
$field-active-background-color: #FFFFFF;
$field-icon-background-color: #E6E6E6;
$header-background-color: #491213;
$benefit-background-color: #EEEEEE;

// Цвета для обводки

$border-color: #E5E5E5;
$benefit-border-color: #D6D6D6;

// Шрифты

$text-font: 400 14px/21px "PT Sans", "Arial", sans-serif;
$subtitle-font: 700 12px/21px "PT Sans", "Arial", sans-serif;
$title-font: 700 18px/26px "PT Sans", "Arial", sans-serif;
$button-font: 700 21px/26px "PT Sans", "Arial", sans-serif;
$footnote-font: 400 12px/21px "PT Sans", "Arial", sans-serif;
